.forget-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
    width: 50vw;
    background-color: white;
    margin-bottom: 100px;
    padding: 15px;
}

.forget-password-container span {
    color: red;
}

.forget-password-container h3 {
    width: 50%;
}

.forget-password-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.forget-password-container form label {
    font-size: 18px;
    font-weight: bold;
}

.forget-password-container form button {
    width: 100%;
}